<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="tertiary">
      Calculez votre IMC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item>
      <ion-label position="floating">Votre poids en Kg :</ion-label>
      <ion-input (ionChange)="onCalculeIMC()" [(ngModel)]="poids"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Votre taille en mètre:</ion-label>
      <ion-input (ionChange)="onCalculeIMC()" [(ngModel)]="taille"></ion-input>
   </ion-item>


  <ion-item>
    <ion-thumbnail>
      <ion-icon name="alert-circle-outline" color={{color}}></ion-icon>
    </ion-thumbnail>
    <ion-label color={{color}}>{{imc}}</ion-label>
  </ion-item>

</ion-content>

